/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #000A12;
}

/* HEADER OCUPA 100% */
.header {
  width: 100%;
  background: rgba(0, 10, 18, 0.6);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  
}


/* NAVBAR ----------------------------------------------------------------------------------------------------------- */
.navbar {
  max-width: 1280px;     /* 👈 Limite real do conteúdo */
  width: 100%;
  margin: 0 auto;        /* 👈 Centraliza */
  padding: 0 24px;       /* 👈 Respiro lateral */
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo img {
  height: 40px;
  width: auto;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s ease;
  position: relative;
}

/* BOTÕES */
.nav-buttons {
  display: flex;
  gap: 16px;
}

.btn {
  padding: 14px 28px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease;
}

.btn-primary {
  background: #ff6a00;
  color: #ffffff;
}

.btn-primary:hover {
  background: #ff7f26;
  transform: translateY(-2px);
}

/* BOTÃO OUTLINE */
.btn-outline {
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #ffffff;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
}

.btn-outline:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* INICIO ----------------------------------------------------------------------------------------------------------- */
.hero {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Fundo degradê escuro */
  background: linear-gradient(0deg, #000A12 0%, #023159 50%, #000A12 100%);

  color: #ffffff;
  text-align: center;
  padding: 0 24px;
  .hero {
  min-height: 100vh;              /* ocupa altura total da tela */
  display: flex;
  align-items: center;            /* centraliza vertical */
  justify-content: center;        /* centraliza horizontal */
  text-align: center;
  padding: 0 24px;
}
}

/* CONTAINER CENTRAL 1280px */
.hero-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* SUBTÍTULO */
.hero-subtitle {
  color: #ff6a00;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 24px;
  font-weight: 600;
}

/* TÍTULO */
.hero-title {
  font-size: clamp(72px, 5vw, 64px);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 24px;
}

/* DESCRIÇÃO */
.hero-description {
  font-size: 24px;
  margin: 0 auto 40px auto;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.6;
}

/* BOTÕES */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

/* BOTÃO BASE */
.btn {
  padding: 14px 28px;
  border-radius: 50px;
  font-size: 15px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease;
}

/* BOTÃO LARANJA */
.btn-primary {
  background: #ff6a00;
  color: #ffffff;
}

.btn-primary:hover {
  background: #ff7f26;
  transform: translateY(-2px);
}

/* BOTÃO OUTLINE */
.btn-outline {
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #ffffff;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
}

.btn-outline:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* FAIXA INFERIOR */
.hero-brands {
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  padding: 14px 28px;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.arrow-icon {
  filter: brightness(0) invert(1);
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(6px); }
}


/* CARROSEL DE MARCAS ------------------------------------------------------------------------------*/
.brand-strip {
  width: 100%;
  background: #ff6a00;
  overflow: hidden;
  padding: 20px 0;
}

.brand-track {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: scrollBrands 25s linear infinite;
}

.brand-item img {
  height: 28px;
  width: auto;
}

@keyframes scrollBrands {
  from { transform: translateX(0); }
  to { transform: translateX(-30%); }
}

/* SOBRE ------------------------------------------------------------------------------ */
.about {
  background: #f3f3f3;
  padding: 80px 20px;
  border-radius: 0 0 40px 40px;
  display: flex;
}

.about-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.about-left,
.about-right {
  max-width: 497px;
}

.about-left{
  margin-right: -70px;
}
.about-right p {
  font-size: 14px !important;
}
/* TÍTULO */
.about-left h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.3;
  color: #1a1a1a;
  max-width:910%;
}

.about-left h2 span {
  color: #f25c05;
}

/* SUBTEXTO */
.about-highlight {
  margin-top: 14px;
  font-weight: 900;
  font-size: 24px;
  color: #1a1a1a;
}

/* BOTÕES */
.about-buttons {
  margin-top: 30px;
  display: flex;
  gap: 16px;
}

.btn {
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}

.btn-dark {
  background: #0a0f14;
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 34px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn-dark:hover {
  background: #25D366; /* verde WhatsApp */
}

/* ícone acompanha a cor do texto */
.whatsapp-icon {
  width: 18px;
  height: 18px;
}

.btn-outline-orange {
  border: 2px solid #f25c05;
  color: #f25c05;
}

.btn-outline-orange:hover {
  background: #f25c05;
  color: #fff;
}

/* IMAGEM */
.about-image img {
  width: 125%;
  max-width: 900px; /* aumenta aqui */
  display: block;
  margin: 0 auto;
}

/* TEXTO DIREITA */
.about-right p {
  margin-bottom: 20px;
  color: rgba(1, 21, 38, 0.7);
  line-height: 1.6;
  font-size: 14px;
}

/* LISTA */
.about-list {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  color: rgba(1, 21, 38, 0.7);
  font-weight: 700;
}

.about-list li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.about-list li::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #f25c05;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 8px;
}

/* STATS */
.about-stats {
  display: flex;
  gap: 15px;
}

.stat {
  background: #f25c05;
  color: #fff;
  padding: 5px 29px; /* padding equilibrado */
  border-radius: 40px;
  text-align: center;
}

.stat strong {
  font-size: 18px;
  display: block;
}

.stat span {
  font-size: 12px;  
}

/* FUNDO AZUL -------------------------------------------------------------------------------------------------------- */
.fundo-azul{
  height: 100VH;
  background-color: #000A12;
}

/* GOOGLE REVIEW ----------------------------------------------------------------------------------------------------- */
.reviews {
  background: #f3f3f3;
  padding: 30px 20px;
  height: 60vh;
}

.reviews-container {
  max-width: 1280px;
  margin: 0 auto;
}

.reviews-box{
  padding: 20px 0px;
}
/* TOPO */
.reviews-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
  gap: 40px;
}

.reviews-top h2 {
  font-size: 32px;
  font-weight: 600;
  color: #0a0f14;
  line-height: 1.3;
}

.reviews-top p {
  max-width: 470px;
  font-size: 22px;
  color: #011526;
  text-align: right;

}


/* PRODUTOS ---------------------------------------------------------------------------------------------------------------------- */
.products {
  height: 100vh;
  background: linear-gradient(0deg, #000A12 0%, #023159 50%, #000A12 100%);
  padding: 40px 20px;
  color: #fff;
}

.products-container {
  max-width: 1280px;
  margin: 0 auto;
}

/* GRID PRINCIPAL */
.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* TITULOS */
.products-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px 0px;
}

.products-header h2{
  font-size: 32px;
}

.products-header p{
  font-size: 22px!important;
  margin: 0px 100px;
  text-align: center;
}

/* COLUNA ESQUERDA */
.product-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* CARD VIDEO */
.card-video {
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
}

.card-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* OUTROS */

[class^="card-"] span {
  font-size: 32px !important;
  margin: 0px !important;
}

[class^="card-"] h3 {
  font-size: 24px !important;
  margin: 5px 0px 0px 0px!important;
}

[class^="card-"] p {
  font-size: 14px !important;
  margin: 5px 0px 0px 0px!important;

}

/* CARD 1 */
.card-1 {
  padding: 20px 60px;
  background: linear-gradient(135deg, #ff7a1a, #f25c05);
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.card-1 img {
  max-width: 190px;
  margin-right: -60px; /* gruda forte na borda */
}

/* CARD 2 */
.card-2 {
  padding: 10px 40px;
  background: #f3f3f3;
  color: #0a0f14;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.card-2 img {
  width: 60%;
  margin-left: 100px;
  margin-top: 30px;
}

/* CARD 3 */
.card-3 {
  background: #f3f3f3;
  color: #0a0f14;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-3 img {
  width: 40%;
  margin-bottom: -35px;
}

/* CARD 4 */
.card-4 {
  background: radial-gradient(circle, #FF7F35, #F25C05);
  border-radius: 25px;
  padding: 0px 45px 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.card-4 img {
  width: 25%;
  margin-right: -40px;
}

/* TEXTOS */
.products span {
  font-size: 22px;
  font-weight: 700;
  display: block;
  margin-bottom: 12px;
}

.products h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.products p {
  font-size: 15px;
  line-height: 1.6;
}

/* MAPS SECTION ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.maps-section {
  max-width: 1920px;
  margin: 0 auto;
  background: #efefef;
  padding: 40px 20px;
  border-radius: 0 0 40px 40px;
}

/* ===== CONTAINER CENTRAL ===== */
.maps-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

/* ===== TOPO ===== */
.maps-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/* ===== TEXTO ===== */
.maps-info h2 {
  font-size: 32px;
  font-weight: 800;
  color: #0c1b2a;
}

.maps-info p {
  font-size: 22px;
  color: #5f6b76;
}

/* ===== BOTÃO ===== */
.btn-whatsapp {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 22px;
  border: 1px solid #000A12;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #000A12;
  text-decoration: none;
  transition: 0.3s ease;
  background: transparent;
}

.btn-whatsapp svg {
  width: 18px;
  height: 18px;
}

.btn-whatsapp:hover {
  background: #25D366;
  border: 1px solid #25D366;
  color: #fff;
}

/* ===== MAPA ===== */
.maps-embed iframe {
  width: 100%;
  height: 370px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
  display: block;
}

/* FORMULARIO DE CONTATO ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.form-section {
  position: relative;
  background: #000A12;
  padding: 80px 0;
  overflow: hidden;
}

.form-container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 2;
}

/* ===== BLUR LARANJA FUNDO ===== */
.bg-blur {
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, #ff7f35, transparent 70%);
  filter: blur(120px);
  left: -150px;
  top: 50px;
  z-index: 1;
}

/* ===== FORMULÁRIO ===== */
.form-box {
  width: 627px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.08);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-box h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.form-box input,
.form-box select {
  background: rgba(255,255,255,0.08);
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 10px;
}

.btn-enviar {
  margin-top: 10px;
  background: linear-gradient(90deg, #ff7f35, #f25c05);
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

/* ===== LADO DIREITO ===== */
.right-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ===== CONTATO ===== */
.contact-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f25c05;
  padding: 20px 20px;
  border-radius: 20px;
  color: #fff;
  gap: 45px;
}

/* LADO ESQUERDO */
.contact-left {
  max-width: 250px;
}

.contact-left h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-left p {
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.95;
}

/* LADO DIREITO */
.contact-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
}

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info strong {
  font-size: 14px;
  display: block;
}

.contact-info span {
  font-size: 12px;
  opacity: 0.9;
}

/* BOTÃO */
.btn-whats {
  display: flex;
  align-items: center;
  gap: 8px;
  background: rgba(255,255,255,0.2);
  padding: 8px 18px;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  transition: 0.3s;
}

.btn-whats:hover {
  background: rgba(255,255,255,0.35);
}

/* LINHA DIVISÓRIA */
.divider {
  height: 1px;
  background: rgba(255,255,255,0.3);
}

/* ===== CATÁLOGO ===== */
.catalog-box {
  background: linear-gradient(135deg, #ff7f35, #f25c05);
  height: 300px;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
}

.btn-catalog {
  background: #fff;
  color: #011526;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}