.porqueasimacamelhorescolhaemleosefiltros_span {
  color: white;
  font-size: 32px;
  font-family: DM Sans;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 38.40px;
  word-wrap: break-word;
}

.maisde20anosdeexperinciaeparceriacomasmelhoresmarcasparagarantirdesempenhoseguranaequalidadeemcadamanuteno_span {
  color: white;
  font-size: 22px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 26.40px;
  word-wrap: break-word;
}

.mais-de-20-anos-de-experincia-e-parceria-com-as-melhores-marcas-para-garantir-desempenho-segurana-e-qualidade-em-cada-manuteno {
  width: 983px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.f4_span {
  color: white;
  font-size: 38px;
  font-family: DM Sans;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45.60px;
  word-wrap: break-word;
}

.text-04 {
  flex: 1 1 0;
}

.leoslubrificantes_span {
  color: white;
  font-size: 24px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 28.80px;
  word-wrap: break-word;
}

.leos-lubrificantes {
  flex: 1 1 0;
}

.lubrificantesdasmarcasmaisrespeitadasdomercadodisponibilizamosopesideaisparacadatipodemotorcomprocednciagarantidadesempenhosuperioreosuportetcnicoquesumadistribuidoraespecializadaoferece_span {
  color: white;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16.80px;
  word-wrap: break-word;
}

.lubrificantes-das-marcas-mais-respeitadas-do-mercado-disponibilizamos-opes-ideais-para-cada-tipo-de-motor-com-procedncia-garantida-desempenho-superior-e-o-suporte-tcnico-que-s-uma-distribuidora-especializada-oferece {
  flex: 1 1 0;
}

.f3_span {
  color: rgba(1, 21, 38, 0.70);
  font-size: 38px;
  font-family: DM Sans;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45.60px;
  word-wrap: break-word;
}

.text-03 {
  flex: 1 1 0;
}

.aditivoseaerossis_span {
  color: #011526;
  font-size: 24px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 28.80px;
  word-wrap: break-word;
}

.aditivos-e-aerossis {
  flex: 1 1 0;
}

.cuidadoeeficinciaemcadadetalheasimacofereceumalinhacompletadeaditivoseaerossisdasprincipaismarcaspensadosparapotencializarodesempenhoeprotegercomponentescomresultadosprofissionais_span {
  color: #011526;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16.80px;
  word-wrap: break-word;
}

.cuidado-e-eficincia-em-cada-detalhe-a-simac-oferece-uma-linha-completa-de-aditivos-e-aerossis-das-principais-marcas-pensados-para-potencializar-o-desempenho-e-proteger-componentes-com-resultados-profissionais {
  flex: 1 1 0;
}

.f2_span {
  color: rgba(1, 21, 38, 0.70);
  font-size: 38px;
  font-family: DM Sans;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45.60px;
  word-wrap: break-word;
}

.text-02 {
  flex: 1 1 0;
}

.filtroscabinefiltrosvoxefiltrosbrasil_span {
  color: #011526;
  font-size: 24px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 28.80px;
  word-wrap: break-word;
}

.filtros-cabine-filtros-vox-e-filtros-brasil {
  flex: 1 1 0;
}

.variedadeedesempenhoemtodasaslinhastrabalhamoscomfiltrosdealtaeficincianaretenodeimpurezasdesenvolvidosparaoferecerarlimpomotorprotegidoemanutenoseguraemqualquercondio_span {
  color: #011526;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16.80px;
  word-wrap: break-word;
}

.variedade-e-desempenho-em-todas-as-linhas-trabalhamos-com-filtros-de-alta-eficincia-na-reteno-de-impurezas-desenvolvidos-para-oferecer-ar-limpo-motor-protegido-e-manuteno-segura-em-qualquer-condio {
  flex: 1 1 0;
}

.frame-36 {
  width: 480.87px;
  height: 119px;
  padding: 10px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #F25C05;
  border-radius: 15px;
}

.f1_span {
  color: white;
  font-size: 38px;
  font-family: DM Sans;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45.60px;
  word-wrap: break-word;
}

.text-01 {
  flex: 1 1 0;
}

.filtrosdecmbioautomtico_span {
  color: white;
  font-size: 24px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 28.80px;
  word-wrap: break-word;
}

.filtros-de-cmbio-automtico {
  flex: 1 1 0;
}

.eficinciaeproteocomasmelhoresmarcasdomercadoasimacdistribuifiltrosquegarantemtrocaslimpasprolongamavidatildocmbioereduzemcustosdemanuteno_span {
  color: white;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16.80px;
  word-wrap: break-word;
}

.eficincia-e-proteo-com-as-melhores-marcas-do-mercado-a-simac-distribui-filtros-que-garantem-trocas-limpas-prolongam-a-vida-til-do-cmbio-e-reduzem-custos-de-manuteno {
  flex: 1 1 0;
}

.trademark-section {
  width: 100%;
  height: 70px;
  padding: 10px;
  left: 0px;
  top: 850px;
  position: absolute;
  background: var(--Main-orange, #F25C05);
  box-sizing: border-box;
}

.distribuidoradeleoslubrificantesefiltrosemsopaulo_span_01 {
  color: #011526;
  font-size: 34px;
  font-family: DM Sans;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 47.60px;
  word-wrap: break-word;
}

.distribuidoradeleoslubrificantesefiltrosemsopaulo_span_02 {
  color: #F25C05;
  font-size: 34px;
  font-family: DM Sans;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 47.60px;
  word-wrap: break-word;
}

.distribuidoradeleoslubrificantesefiltrosemsopaulo_span_03 {
  color: #011526;
  font-size: 34px;
  font-family: DM Sans;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 47.60px;
  word-wrap: break-word;
}

.distribuidora-de-leos-lubrificantes-e-filtros-em-so-paulo {
  flex: 1 1 0;
}

.qualidadeseguranaepreojustonasimacautomotiva_span {
  color: #011526;
  font-size: 24px;
  font-family: DM Sans;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28.80px;
  word-wrap: break-word;
}

.qualidade-segurana-e-preo-justo-na-simac-automotiva {
  flex: 1 1 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.whatsapp_span {
  color: white;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 16.80px;
  word-wrap: break-word;
}

.catlogo_span {
  color: #F25C05;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.catlogo {
  width: 86px;
}

.levamosatvocprodutosdequalidadeemarcasreconhecidascomocompromissodeoferecersoluesrpidasseguraseacessveisparaasuaoficinaaquicadapedidotratadocomcuidadoporqueentendemosqueconfianatambmpartedamanuteno_span {
  color: rgba(1, 21, 38, 0.70);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 19.60px;
  word-wrap: break-word;
}

.levamos-at-voc-produtos-de-qualidade-e-marcas-reconhecidas-com-o-compromisso-de-oferecer-solues-rpidas-seguras-e-acessveis-para-a-sua-oficina-aqui-cada-pedido-tratado-com-cuidado-porque-entendemos-que-confiana-tambm-parte-da-manuteno {
  flex: 1 1 0;
  height: 88px;
  text-align: justify;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.explorenossocatlogodeprodutosevejatudooquetemosdisponvelparasuaoficina_span {
  color: rgba(1, 21, 38, 0.70);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 19.60px;
  word-wrap: break-word;
}

.explore-nosso-catlogo-de-produtos-e-veja-tudo-o-que-temos-disponvel-para-sua-oficina {
  flex: 1 1 0;
  align-self: stretch;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.gostoudealgoouquernegociarumvalorespecialchamenossaequipenowhatsapp_span {
  color: rgba(1, 21, 38, 0.70);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 19.60px;
  word-wrap: break-word;
}

.gostou-de-algo-ou-quer-negociar-um-valor-especial-chame-nossa-equipe-no-whatsapp {
  flex: 1 1 0;
  align-self: stretch;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.f0_span {
  color: white;
  font-size: 18px;
  font-family: DM Sans;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21.60px;
  word-wrap: break-word;
}

.text-20 {
  width: 125px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.anosnomercado_span {
  color: white;
  font-size: 12px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 14.40px;
  word-wrap: break-word;
}

.anos-no-mercado {
  width: 125px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.f00_span {
  color: white;
  font-size: 18px;
  font-family: DM Sans;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21.60px;
  word-wrap: break-word;
}

.text-100 {
  width: 125px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.clientesativos_span {
  color: white;
  font-size: 12px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 14.40px;
  word-wrap: break-word;
}

.clientes-ativos {
  width: 125px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.f5_span {
  color: white;
  font-size: 18px;
  font-family: DM Sans;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 21.60px;
  word-wrap: break-word;
}

.text-25 {
  width: 125px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.marcasdisponveis_span {
  color: white;
  font-size: 12px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 14.40px;
  word-wrap: break-word;
}

.marcas-disponveis {
  width: 125px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.sobre_span {
  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16.80px;
  word-wrap: break-word;
}

.marcas_span {
  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16.80px;
  word-wrap: break-word;
}

.produtos_span {
  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16.80px;
  word-wrap: break-word;
}

.depoimentos_span {
  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16.80px;
  word-wrap: break-word;
}

.depoimentos_01_span {
  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16.80px;
  word-wrap: break-word;
}

.depoimentos_02_span {
  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16.80px;
  word-wrap: break-word;
}

.contato_span {
  color: white;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 16.80px;
  word-wrap: break-word;
}

.catlogo_01_span {
  color: white;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 16.80px;
  word-wrap: break-word;
}

.parceirosnasuaperformance_span {
  color: #FF7F35;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
  word-wrap: break-word;
}

.parceiros-na-sua-performance {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.leoselubrificantesdealtaqualidade_span {
  color: white;
  font-size: 72px;
  font-family: DM Sans;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 79.20px;
  word-wrap: break-word;
}

.leos-e-lubrificantes-de-alta-qualidade {
  flex: 1 1 0;
  align-self: stretch;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.aquivocencontraosmelhoresleosfiltrosepeasautomotivascomatendimentoespecializadoeentregarpidaparaquevocfoquenoqueimportaoseuservio_span {
  color: rgba(255, 255, 255, 0.70);
  font-size: 24px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}

.aqui-voc-encontra-os-melhores-leos-filtros-e-peas-automotivas-com-atendimento-especializado-e-entrega-rpida-para-que-voc-foque-no-que-importa-o-seu-servio {
  width: 100%;
  max-width: 1284px;
  height: 76px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.catlogo_02_span {
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.catlogo_02 {
  width: 175px;
}

.contato_01_span {
  color: white;
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.asmelhoresmarcasdomercadodisponveisnasimac_span {
  color: white;
  font-size: 22px;
  font-family: DM Sans;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 26.40px;
  word-wrap: break-word;
}

.as-melhores-marcas-do-mercado-disponveis-na-simac {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.rectangle-1 {
  width: 100%;
  height: 775px;
  left: 0px;
  top: 1450px;
  position: absolute;
  background: #000A12;
  box-sizing: border-box;
}

.cliquenomapaetracesuarotaatns_span {
  color: #011526;
  font-size: 32px;
  font-family: DM Sans;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 38.40px;
  word-wrap: break-word;
}

.clique-no-mapa-e-trace-sua-rota-at-ns {
  flex: 1 1 0;
  height: 68px;
}

.rualauzane606capeladosocorrosopaulosp04782-010_span {
  color: rgba(1, 21, 38, 0.70);
  font-size: 22px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 26.40px;
  word-wrap: break-word;
}

.rua-lauzane-606-capela-do-socorro-so-paulo-sp-04782-010 {
  width: 735px;
  height: 18px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.whatsapp_01_span {
  color: #011526;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 16.80px;
  word-wrap: break-word;
}

.googlemaps {
  width: 1280px;
  height: 370px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googlemaps iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.form {
  flex: 1 1 0;
  height: 460px;
  background: rgba(0, 10, 18, 0.40);
  border-radius: 20px;
  border: 1px rgba(255, 255, 255, 0.10) solid;
  backdrop-filter: blur(101.05px);
}

.faleconosco_span {
  color: white;
  font-size: 28px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 25.20px;
  word-wrap: break-word;
}

.fale-conosco {
  align-self: stretch;
  height: 30px;
}

.atendimentorpidoeprticopelowhatsappoupelosnossostelefonesfixos_span {
  color: white;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16.80px;
  word-wrap: break-word;
}

.atendimento-rpido-e-prtico-pelo-whatsapp-ou-pelos-nossos-telefones-fixos {
  align-self: stretch;
  height: 40px;
  text-align: justify;
}

.yasmin113368-6305_span_01 {
  color: white;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 17.50px;
  word-wrap: break-word;
}

.yasmin113368-6305_span_02 {
  color: white;
  font-size: 12px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 15px;
  word-wrap: break-word;
}

.yasmin-11-3368-6305 {
  width: 90px;
  height: 35px;
}

.conversar_span {
  color: white;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 16.80px;
  word-wrap: break-word;
}

.julia112193-2225_span_01 {
  color: white;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 17.50px;
  word-wrap: break-word;
}

.julia112193-2225_span_02 {
  color: white;
  font-size: 18px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 22.50px;
  word-wrap: break-word;
}

.julia112193-2225_span_03 {
  color: white;
  font-size: 12px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 15px;
  word-wrap: break-word;
}

.julia-11-2193-2225 {
  width: 90px;
  height: 35px;
}

.conversar_01_span {
  color: white;
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 16.80px;
  word-wrap: break-word;
}

.catlogo_03_span {
  color: var(--Main-blue, #011526);
  font-size: 18px;
  font-family: DM Sans;
  font-weight: 600;
  line-height: 21.60px;
  word-wrap: break-word;
}

.catlogo_03 {
  width: 159px;
}

.aconfianadequemjescolheuasimac_span_01 {
  color: #011526;
  font-size: 32px;
  font-family: DM Sans;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 38.40px;
  word-wrap: break-word;
}

.aconfianadequemjescolheuasimac_span_02 {
  color: #011526;
  font-size: 32px;
  font-family: DM Sans;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 38.40px;
  word-wrap: break-word;
}

.aconfianadequemjescolheuasimac_span_03 {
  color: #011526;
  font-size: 32px;
  font-family: DM Sans;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 38.40px;
  word-wrap: break-word;
}

.a-confiana-de-quem-j-escolheu-a-simac {
  flex: 1 1 0;
}

.vejaoquenossosclientesdizemsobreaqualidadedosprodutoseoatendimentoqueoferecemos_span_01 {
  color: #011526;
  font-size: 22px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 26.40px;
  word-wrap: break-word;
}

.vejaoquenossosclientesdizemsobreaqualidadedosprodutoseoatendimentoqueoferecemos_span_02 {
  color: #011526;
  font-size: 22px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 26.40px;
  word-wrap: break-word;
}

.vejaoquenossosclientesdizemsobreaqualidadedosprodutoseoatendimentoqueoferecemos_span_03 {
  color: #011526;
  font-size: 22px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 26.40px;
  word-wrap: break-word;
}

.vejaoquenossosclientesdizemsobreaqualidadedosprodutoseoatendimentoqueoferecemos_span_04 {
  color: #011526;
  font-size: 22px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 26.40px;
  word-wrap: break-word;
}

.vejaoquenossosclientesdizemsobreaqualidadedosprodutoseoatendimentoqueoferecemos_span_05 {
  color: #011526;
  font-size: 22px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 26.40px;
  word-wrap: break-word;
}

.vejaoquenossosclientesdizemsobreaqualidadedosprodutoseoatendimentoqueoferecemos_span_06 {
  color: #011526;
  font-size: 22px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 26.40px;
  word-wrap: break-word;
}

.vejaoquenossosclientesdizemsobreaqualidadedosprodutoseoatendimentoqueoferecemos_span_07 {
  color: #011526;
  font-size: 22px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 26.40px;
  word-wrap: break-word;
}

.veja-o-que-nossos-clientes-dizem-sobre-a-qualidade-dos-produtos-e-o-atendimento-que-oferecemos {
  width: 434px;
  text-align: right;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.title-container {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.caption-container {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.frame-25 {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.frame-26 {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.frame-27 {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.frame-25_01 {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.frame-26_01 {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.frame-27_01 {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.frame-25_02 {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.frame-26_02 {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.frame-27_02 {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.frame-25_03 {
  width: 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.frame-26_03 {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.frame-27_03 {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.text-input {
  width: 510px;
  height: 143px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.text-input_01 {
  width: 403px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.text-input_03 {
  align-self: stretch;
  height: 88px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.year-button {
  flex: 1 1 0;
  height: 45px;
  background: #F25C05;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.activate-button {
  flex: 1 1 0;
  height: 45px;
  background: #F25C05;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.brands-button {
  flex: 1 1 0;
  height: 45px;
  background: #F25C05;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.link-container {
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: flex;
}

.contact-button {
  width: 90px;
  height: 45px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 40px;
  outline: 1px rgba(255, 255, 255, 0.10) solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.catalog-button_01 {
  width: 114px;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #F25C05;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.title-container_01 {
  height: 41px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.text-input_06 {
  width: 100%;
  max-width: 1284px;
  height: 199px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.text-input_07 {
  width: 100%;
  max-width: 1284px;
  height: 76px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.contact-button_01 {
  width: 126px;
  height: 45px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 40px;
  outline: 1px rgba(255, 255, 255, 0.10) solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.title-container_02 {
  align-self: stretch;
  height: 68px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.caption-container_02 {
  align-self: stretch;
  height: 18px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.text-input_11 {
  width: 242px;
  height: 95px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.title-container_03 {
  width: 412px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.caption-container_03 {
  width: 446px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.text-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  box-sizing: border-box;
}

.frame-28 {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.frame-28_01 {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.frame-28_02 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.frame-28_03 {
  width: 363px;
  height: 163px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.about-button {
  align-self: stretch;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  display: inline-flex;
}

.button-container_01 {
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  display: flex;
}

.text-container_02 {
  width: 678px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  display: inline-flex;
}

.text-container_03 {
  width: 1280px;
  height: 80px;
  justify-content: center;
  align-items: flex-start;
  gap: 421px;
  display: inline-flex;
}

.reviews {
  width: 100%;
  height: 575px;
  left: 0px;
  top: 2225px;
  position: absolute;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
  box-sizing: border-box;
}

.gallery-vector {
  left: 0px;
  top: 0px;
  position: absolute;
}

.vector {
  left: 0px;
  top: 0px;
  position: absolute;
}

.text-input_02 {
  position: relative;
}

.whatsapp-button {
  width: 211px;
  height: 45px;
  padding: 12px;
  background: #011526;
  border-radius: 40px;
  outline: 1px rgba(255, 255, 255, 0.10) solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.slider {
  position: relative;
}

.catalog-button {
  width: 162px;
  height: 45px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 40px;
  outline: 1px #F25C05 solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.button-container {
  width: 388px;
  height: 45px;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  display: inline-flex;
}

.about-text {
  width: 388px;
  height: 295px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  display: inline-flex;
}

.container {
  position: relative;
}

.text-input_04 {
  align-self: stretch;
  height: 44px;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  display: inline-flex;
}

.container_01 {
  position: relative;
}

.text-input_05 {
  align-self: stretch;
  height: 44px;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  display: inline-flex;
}

.about-text_01 {
  width: 497px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  display: inline-flex;
}

.navbar {
  width: 100%;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px rgba(255, 255, 255, 0.10) solid;
  backdrop-filter: blur(6.35px);
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

.text-input_08 {
  position: relative;
}

.catalog-button_02 {
  width: 242px;
  height: 45px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #F25C05;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.button-container_02 {
  height: 45px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.caption-container_01 {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  display: flex;
}

.text-container_01 {
  height: 427px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
}

.heroicons-solidarrow-up {
  position: relative;
}

.heroicons-solidarrow-up_01 {
  position: relative;
}

.text-input_09 {
  width: 790px;
  height: 55px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  outline: 1px white solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
  margin: 40px auto;
}

.text-input_10 {
  position: relative;
}

.whatsapp-button_01 {
  width: 290px;
  height: 45px;
  padding: 12px;
  border-radius: 40px;
  outline: 1px #011526 solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.maps-text {
  width: 1280px;
  justify-content: center;
  align-items: center;
  gap: 312px;
  display: inline-flex;
}

.maps-container {
  align-self: stretch;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  display: flex;
}

.maps-section {
  width: 100%;
  min-height: 600px;
  left: 0px;
  top: 3755px;
  position: absolute;
  background: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  gap: 30px;
  display: flex;
  box-sizing: border-box;
}

.ellipse-1 {
  left: -74px;
  top: -29px;
  position: absolute;
}

.text-input_13 {
  position: relative;
}

.frame-38 {
  height: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(255, 255, 255, 0.20);
  border-radius: 20px;
  outline: 1px rgba(255, 255, 255, 0.05) solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.text-input_12 {
  align-self: stretch;
  flex: 1 1 0;
  padding-bottom: 10px;
  border-bottom: 1px rgba(255, 255, 255, 0.20) solid;
  justify-content: center;
  align-items: center;
  gap: 25px;
  display: inline-flex;
}

.text-input_15 {
  position: relative;
}

.frame-38_01 {
  height: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(255, 255, 255, 0.20);
  border-radius: 20px;
  outline: 1px rgba(255, 255, 255, 0.05) solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.text-input_14 {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 25px;
  display: inline-flex;
}

.form-text-input {
  width: 283px;
  height: 95px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.form-contact-container {
  align-self: stretch;
  height: 136px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #F25C05;
  border-radius: 15px;
  outline: 1px rgba(255, 255, 255, 0.10) solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  gap: 45px;
  display: inline-flex;
}

.vector-1 {
  left: 0px;
  top: 0px;
  position: absolute;
}

.text-input_16 {
  position: relative;
}

.catalog-button_03 {
  width: 214px;
  height: 45px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  left: 413px;
  top: 0.50px;
  position: absolute;
  background: white;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: 1px rgba(255, 255, 255, 0.10) solid;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.componet-1 {
  width: 100%;
  max-width: 627px;
  height: 298px;
  position: relative;
  margin: 0 auto;
}

.form-elements {
  flex: 1 1 0;
  height: 460px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  display: flex;
}

.form-container {
  width: 100%;
  max-width: 1280px;
  left: 50%;
  top: 90px;
  position: absolute;
  transform: translateX(-50%);
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;
}

.form-section {
  width: 100%;
  min-height: 639px;
  left: 0px;
  top: 4355px;
  position: absolute;
  background: #000A12;
  padding: 60px 40px;
  box-sizing: border-box;
}

.img-motor {
  align-self: stretch;
  height: 200px;
  border-radius: 20px;
}

.frame-29_01 {
  width: 336px;
  height: 216px;
  border-radius: 3px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.gallery-3 {
  width: 678px;
  height: 219px;
  padding-top: 30px;
  padding-bottom: 27px;
  padding-right: 30px;
  left: 0px;
  top: 420px;
  position: absolute;
  background: white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.img-filtros-de-cabine {
  width: 414px;
  height: 190px;
}

.frame-29_02 {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.gallery-2 {
  width: 586px;
  height: 405px;
  padding: 30px;
  left: 694px;
  top: 0px;
  position: absolute;
  background: white;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.rectangle {
  width: 359.91px;
  height: 363.78px;
  left: -96.72px;
  top: -94.55px;
  position: absolute;
}

.rectangle_01 {
  width: 359.91px;
  height: 363.78px;
  left: -96.72px;
  top: -94.55px;
  position: absolute;
}

.img-filtros {
  align-self: stretch;
  height: 266px;
  position: relative;
  overflow: hidden;
}

.frame-29_03 {
  width: 263.17px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.frame-37 {
  height: 261px;
  left: 37.83px;
  top: 133px;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  display: inline-flex;
}

.gallery-1 {
  width: 678px;
  height: 404px;
  left: 0px;
  top: 0.50px;
  position: absolute;
}

.imagem-barril {
  width: 392px;
  height: 463px;
}

.imagem-layout {
  width: 392px;
  height: 494px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.about-container {
  width: 1280px;
  height: 382px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.about-section {
  width: 100%;
  min-height: 530px;
  padding: 60px 40px;
  left: 0px;
  top: 920px;
  position: absolute;
  background: white;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
  display: flex;
  box-sizing: border-box;
}

.img-leo {
  width: 158px;
  height: 219px;
}

.frame-29 {
  width: 134px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.gallery-4 {
  width: 586px;
  height: 219px;
  padding: 30px;
  left: 694px;
  top: 420px;
  position: absolute;
  background: radial-gradient(ellipse 50.00% 50.00% at 50.00% 50.00%, #FF7F35 0%, #F25C05 100%);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.gallery-container {
  width: 100%;
  max-width: 1280px;
  height: 639px;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.products-section {
  width: 100%;
  min-height: 955px;
  left: 0px;
  top: 2800px;
  position: absolute;
  background: linear-gradient(180deg, #000A12 0%, rgba(2.34, 49.18, 89, 0.60) 50%, #000A12 100%);
  backdrop-filter: blur(46px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  gap: 50px;
  display: flex;
  box-sizing: border-box;
}

/* Media Queries para Responsividade */
@media (max-width: 1280px) {
  .gallery-container {
    max-width: 100%;
    padding: 0 20px;
  }

  .text-container {
    max-width: 100%;
    padding: 0 20px;
  }

  .products-section,
  .about-section,
  .maps-section,
  .reviews {
    width: 100%;
    padding: 40px 20px;
  }

  .hero-section {
    width: 100%;
  }

  .form-section {
    width: 100%;
  }

  .mais-de-20-anos-de-experincia-e-parceria-com-as-melhores-marcas-para-garantir-desempenho-segurana-e-qualidade-em-cada-manuteno,
  .aqui-voc-encontra-os-melhores-leos-filtros-e-peas-automotivas-com-atendimento-especializado-e-entrega-rpida-para-que-voc-foque-no-que-importa-o-seu-servio {
    width: 100%;
    max-width: 100%;
  }

  .about-container {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .maps-text {
    width: 100%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .maps-container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .google-maps {
    width: 100%;
    height: auto;
  }

  .form-container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    flex-direction: column;
  }

  .form {
    width: 100%;
  }

  .form-elements {
    width: 100%;
  }

  .google-reviews {
    width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
  }

  .navbar {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .desktop {
    width: 100%;
  }
}.hero-section {
  width: 100%;
  height: 770px;
  left: 0px;
  top: 80px;
  position: absolute;
  background: linear-gradient(180deg, #000A12 0%, rgba(2, 49, 89, 0.40) 50%, #000A12 100%), #011526;
  padding: 0 40px;
  box-sizing: border-box;
}
